version: '3.8'

services:
  # O Banco de Dados Principal
  postgres:
    image: postgres:15-alpine
    container_name: marketplace-postgres
    environment:
      POSTGRES_DB: marketplace_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - marketplace-net

  # O Cache de Alta Velocidade
  redis:
    image: redis:alpine
    container_name: marketplace-redis
    ports:
      - "6379:6379"
    networks:
      - marketplace-net

volumes:
  postgres_data:

networks:
  marketplace-net:
    driver: bridge